<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" 
	  layout:decorate="~{layout}"
	  lang="en">
<head>
<meta charset="UTF-8">
<title>PL DETAIL</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/Mainplaylist.css}">
</head>
<body>
<div layout:fragment="content" class="blog-area section_padding_100 mt-100">
	<div class="container">
<fieldset>
<legend>PlayList</legend><br>

	<div class="conts">
		<div class="item5" th:each="Playlist : ${playList22}">
			<table >
				<tr>
					<td >
						<img class="plimage1" th:if="${Playlist.image != null}" th:src="${Playlist.image}">
						<img class="plimage1" th:unless="${Playlist.image != null}" src="/img/nullsongimg.png">
					</td>
					<td>
						<ul>	
						<li th:text="${Playlist.title}"></li>
						<br> 소개글
						<li th:text="${Playlist.discription}"></li>
						<br><li>DJ : <a th:text="${Playlist.id}"></li>
						</ul>
					</td>
				<tr>
			</table>
		</div>
	</div>
</fieldset>
	<hr>
		
		<table>
			<tr>
				<th>  </th>
				<th>노래제목</th>
				<th>가수</th>
			</tr>
			<div class="item2" th:each="Song : ${song22}">
				<!-- <img th:src="@{/img/album/} + ${Song.thumbnail}" /> -->
			<tr>
				<td><img th:src="${Song.image}"></td>
				<td th:text="${Song.songTitle}"></td>
				<td th:text="${Song.singer}"></td>
				<td sec:authorize="isAuthenticated()">
				<a class="delete btn btn-light" th:data-uri="@{|/playlist/delete/${Song.playList.id}/${Song.id}}"
				 sec:authorize="isAuthenticated()"
						th:if="${Song.id != null }" th:text="삭제"></a>
			</tr>
			</div>
		</table>
	</div>
</div>
</body>
<script layout:fragment="script" type='text/javascript'>
	function remove(plSongId,plId) {
		var form = document.createElement("form");
		form.setAttribute("method", "post");
		form.setAttribute("action", "/playlist/"+ plId +"/song");
		var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "plSongId");
        hiddenField.setAttribute("value", plSongId);
        form.appendChild(hiddenField);

        
		document.body.appendChild(form);
		form.submit();
	}
	
	const delete_elements = document.getElementsByClassName("delete");
	   Array.from(delete_elements).forEach(function(element) {
	      element.addEventListener('click', function() {
	         if (confirm("삭제하시겠습니까?")) {
	            location.href = this.dataset.uri;
	         };
	      });
	   });
</script>
</html>