<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" 
	  layout:decorate="~{layout}"
	  lang="en">
<head>
<meta charset="UTF-8">
<title>PL DETAIL</title>

<link rel="stylesheet" type="text/css" th:href="@{/css/Mainplaylist.css}">
</head>
<body>
<div layout:fragment="content" class="blog-area section_padding_100 mt-100">
	<div class="container">
<fieldset>
<legend>PlayList</legend><br>

	<div class="conts">
		<div class="item5" th:each="Playlist : ${playList22}">
			<table >
				<tr>
					<td >
						<img class="plimage1" th:if="${Playlist.image != null}" th:src="${Playlist.image}">
						<img class="plimage1" th:unless="${Playlist.image != null}" src="/img/nullsongimg.png">
					</td>
					<td style="border-bottom: 0px; text-align: center; padding-right: 20px"></td>
					<td>
						<ul>
							제목:	
							<li th:text="${Playlist.title}"></li>
						<br> 
						소개글:
						<li th:text="${Playlist.discription}"></li>

						<br>
						<li th:text="${Playlist.member.username}"></li>
						<br>
						<!-- <li>
							<button sec:authorize="isAuthenticated()" th:onclick="wishlist('[[${Playlist.id}]]')"> 
							<span class="idtext2">위시리스트 담기</span></button> -->
							<!-- <a class="wish btn btn-light" th:data-uri="@{|/playlist/wishlist/${Playlist.id}}"
							sec:authorize="isAuthenticated()" th:text="담기"></a> -->

						<br>
						<li>
						<!-- 이 부분은 내일 다시 만져봐야할 것 같습니다. -->
							<a sec:authorize="isAuthenticated()"
								th:onclick="wishlist('[[${Playlist.id}]]')"> 
							<span
								 sec:authorize="isAuthenticated()"
								th:if="${#authentication.getPrincipal().getUsername() != Playlist.member.username}" th:text="좋아요"> 
							</span>
							<span
								 sec:authorize="isAuthenticated()"
								th:if="${#authentication.getPrincipal().getUsername() == Playlist.member.username}"> 
							</span>
							
							<span
								sec:authorize="isAuthenticated()" 
								th:if="${Playlist.id} == ${findWl}" th:text="alert"> 
							</span>
							
							</a>

						</li>
						</ul>
					</td>
				<tr>
			</table>
		</div>
	</div>
</fieldset>
	<hr>
		
		<table class="wish_pl_song">
			<tr style="height: 50px">
				<th style="padding-right: 200px">  </th>
				<th>노래제목</th>
				<th style="padding-right: 200px"></th>
				<th>가수</th>
				<th style="padding-right: 200px"></th>
			</tr>
			<div class="item2" th:each="Song : ${song22}">
				<!-- <img th:src="@{/img/album/} + ${Song.thumbnail}" /> -->
			<tr>
				<td style="border-bottom: 0px; text-align: center; padding-right: 20px">
				<img th:src="${Song.image}"></td>
				<td style="border-bottom: 0px; text-align: center; padding-right: 20px" th:text="${Song.songTitle}"></td>
				<td> </td>
				<td style="border-bottom: 0px; text-align: center; padding-right: 20px" th:text="${Song.singer}"></td>
				<td></td>
				<td sec:authorize="isAuthenticated()">
				<a class="delete btn btn-light" th:data-uri="@{|/playlist/delete/${Song.playList.id}/${Song.id}}"
				 sec:authorize="isAuthenticated()" th:if="${Song.id != null and #authentication.getPrincipal().getUsername() == Song.playList.member.username}" th:text="삭제">></a>
				<!-- and #authentication.getPrincipal() == Song.playlist.member.id -->

				<!--  sec:authorize="isAuthenticated()"
						th:if="${Song.id != null and #authentication.getPrincipal().getUsername() == Song.playList.member.username}" th:text="삭제"></a> -->

			</tr>
			</div>
		</table>
	</div>
</div>
</body>
<script layout:fragment="script" type='text/javascript'>
	function remove(plSongId,plId) {
		var form = document.createElement("form");
		form.setAttribute("method", "post");
		form.setAttribute("action", "/playlist/"+ plId +"/song");
		var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "plSongId");
        hiddenField.setAttribute("value", plSongId);
        form.appendChild(hiddenField);

        
		document.body.appendChild(form);
		form.submit();
	}
	
	function wishlist(plId){
		var form = document.createElement("form");
		form.setAttribute("method", "post");
		form.setAttribute("action", "/getwishlist");
		var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "plId");
        hiddenField.setAttribute("value", plId);
        form.appendChild(hiddenField);

        
		document.body.appendChild(form);
		form.submit();

	}   
	
	const delete_elements = document.getElementsByClassName("delete");
	   Array.from(delete_elements).forEach(function(element) {
	      element.addEventListener('click', function() {
	         if (confirm("삭제하시겠습니까?")) {
	            location.href = this.dataset.uri;
	         };
	      });
	   });
	   
		const wish_elements = document.getElementsByClassName("wish");
		   Array.from(wish_elements).forEach(function(element) {
		      element.addEventListener('click', function() {
		         if (confirm("위시리스트에 담으시겠습니까?")) {
		            location.href = this.dataset.uri;
		         };
		      });
		   });
</script>
</html>