<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" layout:decorate="~{layout}" lang="en">
<head>
	<link rel="stylesheet" type="text/css"
		th:href="@{/css/MainPlayList.css}">
	<link rel="stylesheet" type="text/css"
		th:href="@{/css/PlaylistModal.css}">
		
</head>
<body>
<!-- 모달 -->
	<div class="modal">
		<th:block th:replace="~{playlist/createPlForm :: createForm}"></th:block>
	</div>
<div layout:fragment="content"
		class="blog-area section_padding_100 mt-100">
		<div class="container">


			<div class="iconheader">
				<ul style="display: flex; justify-content: center;">

					<li style="width: 60%; float: left;">
						<nav class="nav">
							<input type="checkbox" class="nav__cb" id="menu-cb" />
							<div class="nav__content">
								<ul class="nav__items">
									<li class="nav__item">
										<a class="nav__item-text" id="btn-open-popup"> 
											플레이리스트 만들기 
										</a>
										
										
											 	
									</li>
									<li class="nav__item">
										<a class="nav__item-text"
											th:href="@{/search}"> 노래 검색 </a>
									</li>

								</ul>
							
							</div>
							<label class="nav__btn" for="menu-cb"></label>
						</nav>
					</li>
					<li style="width: 40%; float: left;">
						<div class="input-group" style="width: 100%;">
							<input type="text" id="search_kw" class="form-control"
								th:value="${kw}">
							<button class="btn btn-outline-secondary" type="button"
								id="btn_search">검색</button>
						</div>
					</li>
				</ul>
			</div>

			<hr style="border-top: 1px solid black; margin: 1rem 35px;">

			<!-- 플레이리스트 목록 -->
			<div class="Allplaylist">
				<div class="item" th:each="Playlist, PlaylistStatus : ${paging}">

					<!-- <p th:text="${Playlist.nickname}"></p> -->

					<a th:href="@{/playlist/{id}/song (id=${Playlist.id})}"> <img
						class="plimage1" th:if="${Playlist.image != null}"
						th:src="${Playlist.image}"> <img class="plimage1"
						th:unless="${Playlist.image != null}" src="/img/nullsongimg.png">
						<span class="titletext" th:text="${Playlist.title}"></span> <span
						class="idtext" th:text="${Playlist.member.username}"></span>
					</a> <a sec:authorize="isAuthenticated()"
						th:onclick="wishlist('[[${Playlist.id}]]')"> <span
						class="idtext"> 좋아요 </span>
					</a>
				</div>
			</div>

			<!-- 페이징 처리 -->
			<div style="margin: 50px;" th:if="${!paging.isEmpty()}">
				<ul class="pagination justify-content-center">
					<li class="page-item"
						th:classappend="${!paging.hasPrevious} ? 'disabled'"><a
						class="page-link" href="javascript:void(0)"
						th:data-page="${paging.number-1}"> <span>이전</span>
					</a></li>

					<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
						th:if="${page >= paging.number-5 and page <= paging.number+5}"
						th:classappend="${page == paging.number} ? 'active'"><a
						th:text="${page}" class="page-link" href="javascript:void(0)"
						th:data-page="${page}"></a></li>

					<li class="page-item"
						th:classappend="${!paging.hasNext} ? 'disabled'"><a
						class="page-link" href="javascript:void(0)"
						th:data-page="${paging.number+1}"> <span>다음</span>
					</a></li>
				</ul>

				<!-- 페이징 끝 -->
				<form th:action="@{/playlist/list}" method="get" id="searchForm">
					<input type="hidden" id="kw" name="kw" th:value="${kw}"> <input
						type="hidden" id="page" name="page" th:value="${paging.number}">
				</form>
			</div>

		</div>
	</div>


		<script type='text/javascript'>
			const page_elements = document.getElementsByClassName("page-link");
			Array.from(page_elements).forEach(function(element) {
				element.addEventListener('click', function() {
					document.getElementById('page').value = this.dataset.page;
					document.getElementById('searchForm').submit();
				});
			});
			const btn_search = document.getElementById("btn_search");
			btn_search.addEventListener('click', function() {
				document.getElementById('kw').value = document
						.getElementById('search_kw').value;
				document.getElementById('page').value = 0; // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
				document.getElementById('searchForm').submit();
			});
			
			function wishlist(plId){
				var form = document.createElement("form");
				form.setAttribute("method", "post");
				form.setAttribute("action", "/getwishlist");
				var hiddenField = document.createElement("input");
		        hiddenField.setAttribute("type", "hidden");
		        hiddenField.setAttribute("name", "plId");
		        hiddenField.setAttribute("value", plId);
		        form.appendChild(hiddenField);

		        
				document.body.appendChild(form);
				form.submit();
			}
		</script>
		<script>
          const modal = document.querySelector('.modal');
          const btnOpenPopup = document.getElementById("btn-open-popup");
    
          btnOpenPopup.addEventListener('click', () => {
            modal.style.display = 'block';
          });
       	 modal.addEventListener('click', function(e){
            if(e.target == modal){
              modal.style.display = 'none';
            }
          });
        </script>
		



</body>
</html>