<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" 
	  layout:decorate="~{layout}"
	  lang="en">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/MainPlayList.css}">
<link rel="stylesheet" href="/css/cboard_list.css" />
</head>
<body>
<div layout:fragment="content" class="blog-area section_padding_100 mt-100">
	<div class="container">
		

    <!-- <div class="iconheader">
	<ul style="display:flex; justify-content: center;">    	
        	<li style="width: 60%; float: left;">
            		<a th:href="@{/playlist/new}">
            			<img class="addimage" src="/img/plusicon.png" alt="">
            		</a>
 	    	</li>
        	<li style="width: 40%; float: left;">
            	<div class="input-group" style="width: 100%;">
                	<input type="text" id="search_kw" class="form-control" th:value="${kw}">
                	<button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
            	</div>
        	</li>
     </ul>    
    </div> -->
   
	<hr style="border-top: 1px solid black; margin: 1rem 35px;">

		<!-- 플레이리스트 목록 -->
		<div class="Allplaylist">
		        <div class="item" th:each="lists: ${wishlist}">
		        	
					<!-- <p th:text="${Playlist.nickname}"></p> -->
					
					
						<img class="plimage1" th:if="${lists.image != null}" th:src="${lists.image}">
						<img class="plimage1" th:unless="${lists.image != null}" src="/img/nullsongimg.png">
					<a th:href="@{/playlist/{id}/song (id=${lists.id})}">
						<span class="titletext" th:text="${lists.title}"></span>
						<span class="idtext" th:text="${lists.member.username}"></span>
					</a>
						<a class="delete btn btn-light" th:data-uri="@{|/delete/${id} (id=${lists.id})}" sec:authorize="isAuthenticated()"
						th:if="${lists.id != null }" th:text="삭제"></a>

				</div>				
		</div>
		
		
</div>
</div>

	
<script layout:fragment="script" type='text/javascript'>
	   const delete_elements = document.getElementsByClassName("delete");
	   Array.from(delete_elements).forEach(function(element) {
	      element.addEventListener('click', function() {
	         if (confirm("삭제하시겠습니까?")) {
	            location.href = this.dataset.uri;
	         };
	      });
	   });
</script>
</body>
</html>