<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>게시글</title>
<!-- 커뮤니티 css -->
<link rel="stylesheet" href="/css/cboard_list.css" />
<script>
	let slide = document.getElementById("Slide");
	let imgArr = ["/images/cry_music.png", "/images/rock_music.png", "/images/listen_music.png"];

	setInterval(()=>{
	let ranNum = Math.floor(Math.random() * imgArr.length);
	Slide.src= imgArr[ranNum];
	},2000);
</script>
</head>
<body onload="showImage()">
<div layout:fragment="content" class="blog-area section_padding_100 mt-100" style="height: 1000px">
   <div class="container">
	  <div>
	  <img src="/2026001.svg" style="width: 50px;">
	  	 <h1>공지사항</h1>
	  </div>
      <div>
         <ul style="padding-left: 0;">
            <li>
               <div>
                  <div style="width: 60%; float: left; border-top: 1px solid #e9e9e9; font-size: x-large;">[[${adboard.adtitle}]]</div>
                  <div style="text-align: right; float: left; font-size: small; width: 40%; border-top: 1px solid #e9e9e9; padding-top: 8px">[[${#temporals.format(adboard.wdate, 'yyyy.MM.dd HH:mm')}]]</div>
               </div>
            </li>
         <li  th:if="${adboard.username != null}">
            <div>
               <div style="width: 60%; float: left; border-top: 1px solid #e9e9e9;">[[${adboard.username.username}]]</div>
               <div style="text-align: right; float: left; font-size: small; width: 40%; border-top: 1px solid #e9e9e9; padding-top: 3px">조회수 [[${adboard.view}]]</div>      
            </div>
         </li>
         <li>
            <div style="border-bottom: 1px solid #e9e9e9;">
               <div style="width: 1110px; height: 400px; text-align: left; float: left; border-top: 1px solid #e9e9e9;" th:utext="${adboard.adbody}"></div>
            </div>
            <div style="height: 0; width:500px; margin-left: 1000px;">
				<a th:href="@{/playlist/list}" target="_blank">
					<img src="/images/cry_music.png" alt="" id="Slide" style="width: 230px; height: 500px; margin-left: 80px; margin-top: 50px">
				</a>
			</div>
         </li>         
            <li>
               <div>
                  <div style="color: gray;">해시태그 : [[${adboard.tags}]]</div>
               </div>
            </li>
            <li>
               <div>
                  <div style="text-align: center; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #e9e9e9;">
                     <a class="btn btn-light" th:href="@{|/adboard/list|}" style="width: 300px;">목록으로</a>
                  </div>
                  <div style="text-align: right; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #e9e9e9;">
                     <a class="btn btn-light" th:href="@{|/adboard/mdate/${adboard.id}|}" th:text="수정" sec:authorize="hasRole('ADMIN')"
                     	th:if="${adboard.username != null and #authentication.getPrincipal().getUsername() == adboard.username.username}"></a>
                     		<!-- 가독성을 위한 공백 -->
                     <a href="javascript:void(0);" class="delete btn btn-light" th:data-uri="@{|/adboard/delete/${adboard.id}|}" sec:authorize="isAuthenticated()"
                     	th:if="${adboard.username != null and #authentication.getPrincipal().getUsername() == adboard.username.username}" th:text="삭제"></a>
                  </div>
               </div>
            </li>     
         </ul>   
      </div>
   </div>
</div>
</body>
<script layout:fragment="script" type='text/javascript'>
   // 게시글 삭제
   const delete_elements = document.getElementsByClassName("delete");
   Array.from(delete_elements).forEach(function(element) {
      element.addEventListener('click', function() {
         if (confirm("게시글을 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
         };
      });
   });
   // 댓글 삭제
   const deleteR_elements = document.getElementsByClassName("deleteR");
   Array.from(deleteR_elements).forEach(function(element) {
      element.addEventListener('click', function() {
         if (confirm("삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
         };
      });
   });
</script>
</html>