<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" 
	  
	  lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">
	<link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/login.css">
    
    <!-- 물결 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.ripples/0.5.3/jquery.ripples.min.js"></script>
<style>
	html,body{
		background-image:url('/images/Door.png');
		
		background-repeat: no-repeat;
		background-size: cover;
		height:100%;
		margin:0;
		padding: 0;/* 물결 */
		
		/* font-family: 'East Sea Dokdo', cursive; */
		opacity: 1;
      	transition-duration: 3s;
      	transition-property: opacity;
      	/* filter:blur(5px) */
	}
	.full-landing-image {/* 물결 */
         width: 100%;
         height: 100vh;
         background: url('/images/Door.png') no-repeat center; /* css 이미지 url */
         
         background-size: cover;
         background-color:black;
      }
	body.fade {
      opacity: 0.5;
    }
    .modal {
    --bs-modal-width: 1001px;
}

</style>
<title>LTM</title>
</head>
<body>

<!-- 물결 효과를 적용할 이미지 -->
<div class="full-landing-image" style="padding-top: 150px">
             
	<th:block th:fragment="loginForm">
    
        <!-- Sing in  Form -->
        <!-- <section class="sign-in" style="padding-top: 150px"> -->
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="/images/window.png" alt="sing up image"></figure>
                        <a style="font-size: 15px; display: block; text-align: center; text-decoration:none; ">Listen to My PlayList.</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Login</h2>
                        <form method="POST" th:action="@{/member/login}" class="register-form" id="login-form">
                        <div th:if="${param.error}">
            				<div style="color: red;">
                				아이디 또는 비밀번호를 확인해 주세요.
            				</div>
        				</div>
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="username" placeholder="아이디"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="password" placeholder="비밀번호"/>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>로그인 상태 유지</label>
                            </div>
                            <div class="form-group form-button" style="margin-left:15px">
                                <input type="submit" name="signin" id="signin" class="form-submit" style="background-color: #212529" value="로그인"/>
                                <input type="button" name="signin" id="signin" class="form-submit" value="회원가입" 
                                	   style="margin-left:15px; padding-left:32px; padding-right:32px; background-color: #212529;"
                                	   th:onclick="|location.href='@{/member/create}'|"/>
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
       <!--  </section> -->
    
	</th:block>
	</div>
	<script>	
		$(".full-landing-image").ripples({
		resolution: 256, // 렌더링 값이 클수록 잔물결 효과가 느리게 전파
		perturbance: 0.04, // 잔물경 굴절 강도. 0은 굴절 없음
		});
	</script>
    <!-- JS -->
    <!-- <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/login.js"></script> -->
</body>
</html>